<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="visaogeral" href="/tabs/visaogeral">
      <ion-icon aria-hidden="true" name="pie-chart-outline"></ion-icon>
      <ion-label>Visão Geral</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dividendos" href="/tabs/dividendos">
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Dividendos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aporte" href="/tabs/aporte">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Aporte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carteira" href="/tabs/carteira">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Carteira</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
